<div class="changePassword">
  <div class="panel panel-primary">
    
    <div class="heading">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <h3>
      {{addTitle}} 
      </h3>
    </div>

    <div class="panelBody">
      <form name="frmUser" id="frmUser" novalidate ng-submit="frmUser.$valid && submit()" autocomplete="off">
        <input type="hidden" id="user_id" ng-model="dataFrm.user_id">         

        <div class="form-group" ng-class="{ 'has-error' : frmUser.admin_password.$invalid && !frmUser.admin_password.$pristine }">
          <label for="admin_password">New Password</label>
          <!--input type="admin_password" id="admin_password" class="form-control" name="admin_password" ng-model="dataFrm.admin_password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  /-->
          <input  maxlength="20" type="password" id="admin_password" class="form-control" name="admin_password" ng-model="dataFrm.admin_password" ng-minlength="6" ng-maxlength="20" required  />
          <p ng-show="frmUser.admin_password.$error.required && frmUser.admin_password.$dirty" class="help-block">Required</p>
          <!--p ng-show="!frmUser.admin_password.$error.required && !frmUser.admin_password.$error.minlength && !frmUser.admin_password.$error.maxlength && frmUser.admin_password.$error.pattern && frmUser.admin_password.$dirty" class="help-block">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol)</p-->
          <p ng-show="!frmUser.admin_password.$error.required && (frmUser.admin_password.$error.minlength || frmUser.admin_password.$error.maxlength) && frmUser.admin_password.$dirty" class="help-block">Passwords must be between 6 and 20 characters.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : frmUser.admin_password_c.$invalid && !frmUser.admin_password_c.$pristine }">
          <label for="admin_password_c">Confirm Password</label>
          <input maxlength="20" type="password" id="admin_password_c" class="form-control" name="admin_password_c" ng-model="dataFrm.admin_password_c" ng-minlength="6" valid-admin_password-c required  />
          <p ng-show="frmUser.admin_password_c.$error.required && frmUser.admin_password_c.$dirty" class="help-block">Please confirm your Password.</p>
          <p ng-show="!frmUser.admin_password_c.$error.required && (frmUser.admin_password_c.$error.minlength || frmUser.admin_password_c.$error.maxlength) && frmUser.admin_password_c.$dirty" class="help-block">Passwords must be between 6 and 20 characters.</p>
          <!-- <p ng-show="!(dataFrm.admin_password === dataFrm.admin_password_c )" class="help-block">Confirm Password should be same as password.</p> -->
        </div>

        <input ng-if="submitProcess == 0" type="submit" name="submit" value="Save" class="btn" ng-disabled="frmUser.$invalid" />
        <a ng-if="submitProcess == 0" type="button" class="btn" ng-href="#/welcome">Cancel</a>
        <img ng-if="submitProcess == 1" src="admin_js_css/truemark_images/load.gif" width="16" align="absmiddle" />
        <div ng-if="submitProcess == 2" ng-bind-html="submitProcessMsg"></div>

        <!--button type="submit" class="btn btn-primary">Sign Up</button-->
      </form>

    </div>
  </div>
</div>
        