<div ng-show="fullPageLoader" class="loadDiv" >
    <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
</div>


<div class="panel panel-primary" ng-hide="fullPageLoader" ng-cloak>
    <div class="panel-heading">
        <h3 class="panel-title" style="color:#fff;">
            Manage Home Content
        </h3>
    </div>
    <div class="panel-body">

        <form name="frmHomeContent" id="frmHomeContent" novalidate ng-submit="frmHomeContent.$valid && submit()">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div >Banner </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="form-group">
                <label for="banner_heading">Banner Heading <font color="red">*</font></label>
                <input type="text" class="form-control" id="banner_heading" ng-model="dataFrm.banner_heading" placeholder="" maxlength="255" required>
            </fieldset>

            <fieldset class="form-group">
                <label for="banner_text">Banner Text <font color="red">*</font></label>
                <input type="text" class="form-control" id="banner_text" ng-model="dataFrm.banner_text" placeholder="" maxlength="255" required>
            </fieldset>

            <div class="row" style="display: none;">
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label for="">Upload Banner Logo <small>(Dimensions: 355px X 85px)</small> &nbsp;<a href="javascript: void(0)" ngf-select="upload_banner_icon($file)" ngf-pattern="'image/png'" ngf-accept="'image/png'"><i class="fa fa-upload" aria-hidden="true"></i> Upload</a></label>
                        <input type="hidden" name="banner_icon"  ng-model="dataFrm.banner_icon">

                        <div ngf-model-invalid="errorFile" ngf-drop="upload_banner_icon($file)" class="drag-drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'image/png'" >
                            {{file.progress}}
                            <div ng-if="fuploading_banner_icon == 0" style="position:absolute; top:50%; text-align:center; width: 100%;">Drop Image file here (png) </div>
                            <div ng-if="fuploading_banner_icon == 1" style="position:absolute; top:50%; margin-top:-16px; text-align:center; width: 100%;"><img src="admin_js_css/truemark_images/load.gif" border="0"></div>
                            <div ng-if="fuploading_banner_icon == 2" style="text-align:center; width: 100%;">
                                <img ng-src="{{dataFrm.banner_icon_disp}}" width="300"><br />
                               <!--  <a href="javscript: void(0);" ng-click="removeFile(dataFrm.banner_icon,'banner_icon', $event)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a> -->
                                <br />To change the image please drag new image here!
                            </div>
                            <div ng-if="fuploading_banner_icon == 3" style="position:absolute; top:50%; text-align:center; width: 100%;">{{fileiconuploaderror}}</div>

                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label for="">Upload Background Banner Image <small>(Dimensions: 1920px X 900px)</small> &nbsp;<a href="javascript: void(0)" ngf-select="upload_banner($file)" ngf-pattern="'image/png,image/jpeg,image/jpg,image/gif'" ngf-accept="'image/png,image/jpeg,image/jpg,image/gif'"><i class="fa fa-upload" aria-hidden="true"></i> Upload</a></label>
                        <input type="hidden" name="banner_image"  ng-model="dataFrm.banner_image">

                        <div ngf-model-invalid="errorFile" ngf-drop="upload_banner($file)" class="drag-drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'image/png,image/jpeg,image/jpg,image/gif'" >
                            {{file.progress}}
                            <div ng-if="fuploading_banner_image == 0" style="position:absolute; top:50%; text-align:center; width: 100%;">Drop Image file here (jpg/png/gif) </div>
                            <div ng-if="fuploading_banner_image == 1" style="position:absolute; top:50%; margin-top:-16px; text-align:center; width: 100%;"><img src="admin_js_css/truemark_images/load.gif" border="0"></div>
                            <div ng-if="fuploading_banner_image == 2" style="text-align:center; width: 100%;">
                                <img ng-src="{{dataFrm.banner_image_disp}}" width="300"><br />
                                <a href="javscript: void(0);" ng-click="removeFile(dataFrm.banner_image,'banner_image', $event)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a>
                                <br />To change the image please drag new image here!
                            </div>
                            <div ng-if="fuploading_banner_image == 3" style="position:absolute; top:50%; text-align:center; width: 100%;">{{fileuploaderror}}</div>

                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row" style="display: none;">
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <label for="">Upload Catalog &nbsp;<a href="javascript: void(0)" ngf-select="upload_catalog($file)" ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" style="color: #e07800;"><i class="fa fa-upload" aria-hidden="true"></i> Upload</a></label>
                        <input type="hidden" name="catalog_file"  ng-model="dataFrm.catalog_file" >

                        <div ngf-model-invalid="errorFile" ngf-drop="upload_catalog($file)" class="drag-drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'application/pdf'" >
                            {{file.progress}}
                            <div ng-if="fuploading_catalog_file == 0" style="position:absolute; top:50%; text-align:center; width: 100%;">Drop catalog file here (pdf)</div>
                            <div ng-if="fuploading_catalog_file == 1" style="position:absolute; top:50%; margin-top:-16px; text-align:center; width: 100%;"><img src="admin_js_css/truemark_images/load.gif" border="0"></div>
                            
                            <div ng-if="fuploading_catalog_file == 2" style="text-align:center; width: 100%;">
                                <a href="{{dataFrm.catalog_file_disp}}" target="_blank"><i class="fa fa-file fa-4x"></i><br/><label>{{dataFrm.catalog_file}}</label>
                                </a>
                                    <br/>                            
                                <a href="javscript: void(0);" ng-click="removeFile(dataFrm.catalog_file,'catalog_file', $event)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a>

                                <br />To change the catalog please drag new catalog here!
                            </div>

                            <div ng-if="fuploading_catalog_file == 3" style="position:absolute; top:50%; text-align:center; width: 100%;">{{cataloguploaderror}}</div>

                        </div>
                    </fieldset>
                </div>
            </div>

            <!-- /**
                    * video upload
            **/ -->
            <div class="row" style="display: none;">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="color: #78A22f;">
                            <h3 class="panel-title">
                                <div>Video &emsp;
                                    <span style="font-size: 12px; color: #000000;">
                                        <input type="radio" name="video_type" value="EMBED" ng-model="dataFrm.video_type" id="EMBED">&nbsp;<label for="EMBED"> Embed </label>&emsp; 
                                        <input type="radio" name="video_type" value="FILE" ng-model="dataFrm.video_type" id="UPLOAD_VIDEO">&nbsp;<label for="UPLOAD_VIDEO"> Upload </label>
                                    </span> 
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row"> 
                        <div class="col-md-12" ng-cloak style="display: none;">
                            <fieldset class="form-group">
                                <label for="video_title">Video Title <font color="red"></font></label> 
                                <input type="text" ng-model="dataFrm.video_title" class="form-control" name="video_title">
                            </fieldset>
                        </div>

                        <div class="col-md-12" ng-show="dataFrm.video_type == 'EMBED'" ng-cloak style="display: none;">
                            <fieldset class="form-group">
                                <label for="youtube_video">Embed Video <font color="red"></font></label> 
                                <textarea ng-model="dataFrm.youtube_video" class="form-control" name="youtube_video" style="height: 200px; resize: none;"></textarea>
                            </fieldset>
                        </div>

                        <div class="col-md-6" ng-show="dataFrm.video_type == 'FILE'" ng-cloak style="display: none;">

                            <fieldset class="form-group">
                                <label for="">Upload Video <small></small> &nbsp;<a href="javascript: void(0)" ngf-select="upload_video($file)" ngf-pattern="'video/mp4'" ngf-accept="'video/mp4'" ngf-max-size="200MB"><i class="fa fa-upload" aria-hidden="true"></i> Upload</a></label>
                                <input type="hidden" name="home_video"  ng-model="dataFrm.home_video" >

                                <div ngf-model-invalid="errorFile" ngf-drop="upload_video($file)" class="drag-drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'video/mp4'" ngf-max-size="200MB">
                                    {{file.progress}}
                                    <div ng-if="fuploading_home_video == 0" style="position:absolute; top:50%; text-align:center; width: 100%;">Drop Image file here (mp4) - Max Image Size: 200MB</div>
                                    <div ng-if="fuploading_home_video == 1" style="position:absolute; top:50%; margin-top:-16px; text-align:center; width: 100%;"><img src="admin_js_css/truemark_images/load.gif" border="0"></div>
                                    <div ng-if="fuploading_home_video == 2" style="text-align:center; width: 100%;">
                                   

                                        <video width="160" height="120" controls>
                                            <source src="{{dataFrm.home_video_disp}}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video><br />

                                        <a href="javscript: void(0);" ng-click="removeFile(dataFrm.home_video,'home_video', $event)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a>
                                        <br />To change the image please drag new image here!
                                    </div>
                                    <div ng-if="fuploading_home_video == 3" style="position:absolute; top:50%; text-align:center; width: 100%;">{{fileuploaderror_home_video}}</div>

                                </div>
                            </fieldset>
                        </div>

                        <div class="col-md-6" ng-show="dataFrm.video_type == 'FILE'" ng-cloak style="display: none;">
                            <fieldset class="form-group">
                                <label for="">Upload Video Poster <small></small> &nbsp;<a href="javascript: void(0)" ngf-select="upload_video_poster($file)" ngf-pattern="'image/png,image/jpeg,image/jpg,image/gif'" ngf-accept="'image/png,image/jpeg,image/jpg,image/gif'"><i class="fa fa-upload" aria-hidden="true"></i> Upload</a></label>
                                <input type="hidden" name="home_video_poster"  ng-model="dataFrm.home_video_poster" >

                                <div ngf-model-invalid="errorFile" ngf-drop="upload_video_poster($file)" class="drag-drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'image/png,image/jpeg,image/jpg,image/gif'" >
                                    {{file.progress}}
                                    <div ng-if="fuploading_home_video_poster == 0" style="position:absolute; top:50%; text-align:center; width: 100%;">Drop Image file here (jpg,jpeg,png,gif)</div>
                                    <div ng-if="fuploading_home_video_poster == 1" style="position:absolute; top:50%; margin-top:-16px; text-align:center; width: 100%;"><img src="admin_js_css/truemark_images/load.gif" border="0"></div>
                                    <div ng-if="fuploading_home_video_poster == 2" style="text-align:center; width: 100%;">
                                        <img ng-src="{{dataFrm.home_video_poster_disp}}" width="220"><br />
                                        <a href="javscript: void(0);" ng-click="removeFile(dataFrm.home_video_poster,'home_video_poster', $event)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a>
                                        <br />To change the image please drag new image here!
                                    </div>
                                    <div ng-if="fuploading_home_video_poster == 3" style="position:absolute; top:50%; text-align:center; width: 100%;">{{fileuploaderror_home_video_poster}}</div>

                                </div>
                            </fieldset>
                        </div>

                        <!-- /** home description**/ -->
                        <div class="col-md-12" ng-cloak>
                            <fieldset class="form-group">
                                <label for="description">Home Description </label>
                                <div ckeditor="options"  ng-model="dataFrm.description" ready="onReady()" >
                                </div>
                            </fieldset>
                        </div>
                        
                        <!-- /** disclosure **/ -->
                        <div class="col-md-12" ng-cloak>
                            <fieldset class="form-group">
                                <label for="disclosure">Disclosure </label>
                                <div ckeditor="options"  ng-model="dataFrm.disclosure" ready="onReady()" >
                                </div>
                            </fieldset>
                        </div>
                         
                    </div>
                </div>
            </div>



            <!-- /****
                    * seo fields
            ****/ -->
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="color: #78A22f;">
                            <h3 class="panel-title">
                                <div>SEO Fields </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label for="hall_name">Meta Title</label>
                        <input type="text" class="form-control" id="meta_title" ng-model="dataFrm.meta_title" placeholder="" maxlength="100">
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label for="location">Meta Description <font color="red"></font></label>
                        <input type="text" class="form-control" id="meta_description" ng-model="dataFrm.meta_description" placeholder="" maxlength="200">
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label for="location">Meta Keyword <font color="red"></font></label>
                        <input type="text" class="form-control" id="meta_keyword" ng-model="dataFrm.meta_keyword" placeholder="" maxlength="200">
                    </fieldset>
                </div>
            </div>

            <input ng-if="submitProcess == 0" type="submit" name="submit" value="Save" class="btn saveBtn btn-primary " ng-disabled="frmHomeContent.$invalid" />

            <img ng-if="submitProcess == 1" src="admin_js_css/truemark_images/load.gif" width="16" align="absmiddle" />
            <div ng-if="submitProcess == 2" ng-bind-html="submitProcessMsg"></div>


        </form>



    </div>
</div>
